In [8]:
import pandas as pd
df = pd.read_csv('estonia.csv')
countries = list(df['Country'].unique())
counts = []
for i in range(len(countries)):
    counts.append(0)
counts = {"Country":countries, "Counts":counts}
for country in df['Country']:
    idx = countries.index(country)
    counts["Counts"][idx] += 1
freqTable = pd.DataFrame(counts)
totalSamples = len(df)
freqTable["Percent"] = (freqTable['Counts'] / len(df)) * 100
freqTable

          Country  Counts    Percent
0          Sweden     550  55.611729
1         Estonia     344  34.782609
2          Latvia      28   2.831143
3          Russia      14   1.415571
4         Germany       8   0.808898
5         Finland      16   1.617796
6   Great Britain       2   0.202224
7         Morocco       2   0.202224
8         Denmark       6   0.606673
9          France       1   0.101112
10    Netherlands       2   0.202224
11         Norway       9   0.910010
12      Lithuania       4   0.404449
13        Nigeria       1   0.101112
14         Canada       1   0.101112
15        Belarus       1   0.101112

In [6]:
'''
port_table = pd.DataFrame({
    'Port' : ['S', 'C', 'Q'],
    'Percentage of Passengers': [ ( len( df[ df['Embarked']=="S" ] )/len(df) )*100, 
                                  ( len( df[ df['Embarked']=="C" ] )/len(df) )*100, 
                                  ( len( df[ df['Embarked']=="Q" ] )/len(df) )*100 ],
    'Tickets': [len( df[ df['Embarked']=="S" ] ),
                len( df[ df['Embarked']=="C" ] ),
                len( df[ df['Embarked']=="Q" ] )]
})
'''

'\nport_table = pd.DataFrame({\n    \'Port\' : [\'S\', \'C\', \'Q\'],\n    \'Percentage of Passengers\': [ ( len( df[ df[\'Embarked\']=="S" ] )/len(df) )*100, \n                                  ( len( df[ df[\'Embarked\']=="C" ] )/len(df) )*100, \n                                  ( len( df[ df[\'Embarked\']=="Q" ] )/len(df) )*100 ],\n    \'Tickets\': [len( df[ df[\'Embarked\']=="S" ] ),\n                len( df[ df[\'Embarked\']=="C" ] ),\n                len( df[ df[\'Embarked\']=="Q" ] )]\n})\n'