# Choose a Data Set

Create your own dataset by scraping one of the following websites *(level 5)*:
- [Wikipedia](https://www.wikipedia.org/)
- [OpenLibrary](https://openlibrary.org/)

**OR** 

Use data gathered from one of the following APIs *(level 4)*: 
- [TMDB](https://developer.themoviedb.org/reference/intro/getting-started)
- [College Scorecard](https://collegescorecard.ed.gov/data/api-documentation/)

**OR** 

Pick a JSON dataset *(level 3)*:
- [Food/Restaurant Data](https://drive.google.com/drive/folders/1V94S6WpclvQmbnW88KVMD4EruryA1oma?usp=drive_link)
- [Fashion Data](https://drive.google.com/drive/folders/1V8SbFjtRRW8WVf3xBzg0gzLjOtMhHea_?usp=drive_link)

**OR** 

Pick a CSV dataset *(level 2)*:
- [LA Parking Tickets](https://drive.google.com/drive/folders/1vaOfwMi6QmZEGsXr8VM0ulPGzvTTBCgm?usp=drive_link)
- [Hotels](https://drive.google.com/drive/folders/1IpVFxgwBJvJHKoOuBsk6WK2qYqFYP4hi?usp=drive_link)

# My Question
If you select 1000 books from OpenLibrary, what is the probability that exactly 600 of them are from the "Non-Fiction" category?

# My Answer

In [ ]:
import requests
import pandas as pd
import seaborn as sb
import numpy as np
from bs4 import BeautifulSoup

books = 1000

In [53]:


def getBook(): return requests.get('https://openlibrary.org/random')
def getSubjects(book):
    if book.status_code != 200: return None
    soup = BeautifulSoup(book.text)

    print(soup.find_all('span', class_='clamp'))

    #return [subject.get_text() for subject in soup.find('span', class_='clamp').find_all('a')]

getSubjects(getBook())

[<span class="clamp" data-before="▸ ">
<h3>Subjects</h3>
<a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/french_language">French language</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/textbooks_for_foreign_speakers">Textbooks for foreign speakers</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/juvenile_literature">Juvenile literature</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/english">English</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/conversation_and_phrase_books">Conversation and phrase books</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/schools">Schools</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/school_children">School children</a>,
    <a data-ol-link-track="BookOverview|SubjectClick" href="/subjects/education">Education</a>
</span>, <span class="clamp" data-before="▸ ">
<h3>Places</h3>
<a data-ol-link-track="BookOverview|SubjectPlacesClick" href="/subjects/place:france">France</a>
</span>]

In [38]:
data = pd.DataFrame({
    'Book Name': [],
    'Stars': []
})

def getReviews(genre, pageNum): # Returns a dataframe (Book Name : Review Count)
    req = requests.get(f'https://openlibrary.org/search?subject={genre}&page={pageNum}')
    if req.status_code == 200:
        soup = BeautifulSoup(req.text)

        results = []
        for (name, stars) in zip((book.text.strip() for book in soup.find_all('a', class_='results')), (float(book.text.strip().split(' ')[0]) for book in soup.find_all('span', itemprop='ratingValue'))):
            results.append({'Book Name': name, 'Stars':stars})

        return pd.DataFrame(results)
    else:
        return None
    
for currPage in range(pages):
    data = pd.concat([data, getReviews(genre,currPage+1)], ignore_index=True)

data

                                          Book Name  Stars
0    Phantastes: A Faerie Romance for Men and Women    3.8
1                                   The  Road to Oz    3.3
2                                  The Silmarillion    4.0
3                                 Lilith: A Romance    3.0
4                                   The Last Battle    3.8
..                                              ...    ...
194                                    Mary poppins    4.1
195                                 Mostly Harmless    4.4
196   Percy Jackson and the Battle of the Labyrinth    4.1
197                                     Equal Rites    4.2
198                           Tom's Midnight Garden    4.0

[199 rows x 2 columns]

***Describe analysis here.***