In [5]:
import pandas as pd 
ds = pd.read_csv("titanic.csv")

In [9]:
ds.iloc[7,5] = 29 #modifies the age column (4th column) for the 6th sample

In [10]:
ds.iloc[7]

PassengerId                                 8
Survived                                    0
Pclass                                      3
Name           Palsson, Master. Gosta Leonard
Sex                                      male
Age                                      29.0
SibSp                                       3
Parch                                       1
Ticket                                 349909
Fare                                   21.075
Cabin                                     NaN
Embarked                                    S
Name: 7, dtype: object

In [45]:
'''
n = 0 # how many are 18+
m = 0 # how many are male

for index, row in ds[(ds['Age'] > 18) | (ds['Sex'] == "male")].iterrows():
    if row['Age'] > 18:
        n+=1
        
    if row['Sex'] == 'male':
        m+=1
'''

print(ds[ds['Age'] > 18].shape[0], 
      "passengers were 18+\n",
      (ds[ds['Sex']=='male'].shape[0]/len(ds))*100, 
      "percent of passengers were male")

576 passengers were 18+
 64.75869809203144 percent of passengers were male

In [53]:
class_table = pd.DataFrame({
    'Class' : ['First', 'Second', 'Third', 'Total'],
    'Num of Tickets' : [ len( ds[ ds['Pclass'] == 1 ] ), 
                         len( ds[ ds['Pclass'] == 2 ] ), 
                         len( ds[ ds['Pclass'] == 3 ] ),
                         len( ds['Pclass'])]
}) 

class_table

    Class  Num of Tickets
0   First             216
1  Second             184
2   Third             491
3   Total             891

In [54]:
port_table = pd.DataFrame({
    'Port' : ['S', 'C', 'Q'],
    'Percentage of Passengers': [ ( len( ds[ ds['Embarked']=="S" ] )/len(ds) )*100, 
                                  ( len( ds[ ds['Embarked']=="C" ] )/len(ds) )*100, 
                                  ( len( ds[ ds['Embarked']=="Q" ] )/len(ds) )*100 ],
    'Tickets': [len( ds[ ds['Embarked']=="S" ] ),
                len( ds[ ds['Embarked']=="C" ] ),
                len( ds[ ds['Embarked']=="Q" ] )]
})

port_table

  Port  Percentage of Passengers  Tickets
0    S                 72.278339      644
1    C                 18.855219      168
2    Q                  8.641975       77