In [27]:
import pandas as pd 
df = pd.read_csv("titanic.csv")

In [9]:
#ds.iloc[7,5] = 29 #modifies the age column (4th column) for the 6th sample

In [28]:
df[df['PassengerId'] == 528]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
527,528,0,1,"Farthing, Mr. John",male,NaN,0,0,PC 17483,221.7792,C95,S

In [29]:
idx = 0
for person in df['Name']:
    if 'Fannie' in person:
        break
    idx += 1
ds.loc[idx]

PassengerId                              707
Survived                                   1
Pclass                                     2
Name           Kelly, Mrs. Florence "Fannie"
Sex                                   female
Age                                     45.0
SibSp                                      0
Parch                                      0
Ticket                                223596
Fare                                    13.5
Cabin                                    NaN
Embarked                                   S
Name: 706, dtype: object

In [20]:
'''
n = 0 # how many are 18+
m = 0 # how many are male

for index, row in ds[(ds['Age'] > 18) | (ds['Sex'] == "male")].iterrows():
    if row['Age'] > 18:
        n+=1
        
    if row['Sex'] == 'male':
        m+=1
        
or...

print(ds[ds['Age'] > 18].shape[0], 
      "passengers were 18+\n",
      (ds[ds['Sex']=='male'].shape[0]/len(ds))*100, 
      "percent of passengers were male")
'''
'''
class_table = pd.DataFrame({
    'Class' : ['First', 'Second', 'Third', 'Total'],
    'Num of Tickets' : [ len( ds[ ds['Pclass'] == 1 ] ), 
                         len( ds[ ds['Pclass'] == 2 ] ), 
                         len( ds[ ds['Pclass'] == 3 ] ),
                         len( ds['Pclass'])]
}) 

class_table
'''
'''
port_table = pd.DataFrame({
    'Port' : ['S', 'C', 'Q'],
    'Percentage of Passengers': [ ( len( ds[ ds['Embarked']=="S" ] )/len(ds) )*100, 
                                  ( len( ds[ ds['Embarked']=="C" ] )/len(ds) )*100, 
                                  ( len( ds[ ds['Embarked']=="Q" ] )/len(ds) )*100 ],
    'Tickets': [len( ds[ ds['Embarked']=="S" ] ),
                len( ds[ ds['Embarked']=="C" ] ),
                len( ds[ ds['Embarked']=="Q" ] )]
})

port_table
'''

'\nn = 0 # how many are 18+\nm = 0 # how many are male\n\nfor index, row in ds[(ds[\'Age\'] > 18) | (ds[\'Sex\'] == "male")].iterrows():\n    if row[\'Age\'] > 18:\n        n+=1\n        \n    if row[\'Sex\'] == \'male\':\n        m+=1\n        \nor...\n\nprint(ds[ds[\'Age\'] > 18].shape[0], \n      "passengers were 18+\n",\n      (ds[ds[\'Sex\']==\'male\'].shape[0]/len(ds))*100, \n      "percent of passengers were male")\n'