In [4]:
import pandas as pd
cats = pd.read_csv("cats.csv")
cats.dtypes

Unnamed: 0      int64
Breed          object
Age (Years)     int64
Weight (kg)     int64
Color          object
Gender         object
ID              int64
dtype: object

In [37]:
#cats.drop(['Unnamed: 0'], inplace=True, axis=1) # removes a column
#cats.drop(1004, inplace=True)
target = cats.iloc[99] # column, row
print(target)

cats['Weigh (lbs)'] = cats['Weight (kg)'] * 2.205
'''
new_row = pd.Series({
    'Breed': 'Orange Tabby',
    'Age (Years)':3,
    'Weight (kg)': 5,
    'Color': 'Orange',
    'Gender': 'Male'
})
cats.loc[len(cats.index)] = new_row
'''
cats.tail()

Breed          Cornish Rex
Age (Years)             11
Weight (kg)              6
Color              Bicolor
Gender              Female
ID                   527.0
Name: 99, dtype: object

,Breed,Age (Years),Weight (kg),Color,Gender,ID,Weigh (lbs)
997,Persian,19,9,Cream,Male,659.0,19.845
998,Persian,17,3,Bicolor,Female,124.0,6.615
999,Manx,18,8,Black,Male,226.0,17.640
1000,Orange Tabby,3,5,Orange,Male,NaN,11.025
1001,Orange Tabby,3,5,Orange,Male,NaN,11.025