In [2]:
import pandas as pd
import seaborn as sb
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

possums = pd.read_csv('possum.csv')
possums

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.0,94.1,60.4,89.0,36.0,74.5,54.5,15.2,28.0,36.0
1,2,1,Vic,f,6.0,92.5,57.6,91.5,36.5,72.5,51.2,16.0,28.5,33.0
2,3,1,Vic,f,6.0,94.0,60.0,95.5,39.0,75.4,51.9,15.5,30.0,34.0
3,4,1,Vic,f,6.0,93.2,57.1,92.0,38.0,76.1,52.2,15.2,28.0,34.0
4,5,1,Vic,f,2.0,91.5,56.3,85.5,36.0,71.0,53.2,15.1,28.5,33.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99,100,7,other,m,1.0,89.5,56.0,81.5,36.5,66.0,46.8,14.8,23.0,27.0
100,101,7,other,m,1.0,88.6,54.7,82.5,39.0,64.4,48.0,14.0,25.0,33.0
101,102,7,other,f,6.0,92.4,55.0,89.0,38.0,63.5,45.4,13.0,25.0,30.0
102,103,7,other,m,4.0,91.5,55.2,82.5,36.5,62.9,45.9,15.4,25.0,29.0
103,104,7,other,f,3.0,93.6,59.9,89.0,40.0,67.6,46.0,14.8,28.5,33.5

In [3]:
features = possums[["skullw", "belly"]]
output = possums["taill"]

X_train, X_test, y_train, y_test = train_test_split(features, output, test_size=.33, random_state=42)

In [7]:
model = LinearRegression()
model.fit(X_train, y_train)

# y = m1x1 + m2x2 + b, where x1 is skull width, and x2 is belly girth

m1 = model.coef_[0]
m2 = model.coef_[1]
b = model.intercept_

print(f"y={m1}x1 + {m2}x2 + {b}")

y=0.08941202751768053x1 + 0.15684197446136253x2 + 27.00179884200432

In [8]:
y = (m1 * 58.2) + (m2 * 34) + b
y

np.float64(37.538205975219654)

In [12]:
predictions = model.predict(X_test)
np.sqrt(mean_squared_error(y_test, predictions)) #cm

np.float64(1.9560218625104329)

In [4]:
possums['taill'].max()

np.float64(43.0)

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.cluster import KMeans

df = pd.read_csv('penguins.csv')
df.head()

   culmen_length_mm  culmen_depth_mm  flipper_length_mm  body_mass_g     sex
0              39.1             18.7              181.0       3750.0    MALE
1              39.5             17.4              186.0       3800.0  FEMALE
2              40.3             18.0              195.0       3250.0  FEMALE
3              36.7             19.3              193.0       3450.0  FEMALE
4              39.3             20.6              190.0       3650.0    MALE

In [12]:
train_df, _ = train_test_split(df, test_size=0.3, random_state=42)
train_df = train_df[['culmen_length_mm', 'culmen_depth_mm', 'body_mass_g']]
train_df.head()

     culmen_length_mm  culmen_depth_mm  body_mass_g
284              46.4             15.6       5000.0
294              52.5             15.6       5450.0
56               41.3             21.1       4400.0
175              46.4             17.8       3700.0
10               34.6             21.1       4400.0

In [13]:
model = KMeans(n_clusters=5)
model.fit(train_df)

model.cluster_centers_

array([[  45.87659574,   15.31276596, 4874.46808511],
       [  43.49402985,   18.4641791 , 3770.52238806],
       [  50.31290323,   15.8516129 , 5661.29032258],
       [  44.5547619 ,   17.71904762, 4291.07142857],
       [  39.62608696,   17.60869565, 3267.39130435]])

The possum will have a tail length of 38 cm.